go 1.24

toolchain go1.24.4

use (
	./build
	./common/go
	./common/go/build
	./frontend/api
	./frontend/api/build
	./frontend/server
	./frontend/server/build
	./webhook/server
	./webhook/server/build
)
